body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f9f9f9;
}

.invoice-actions a {
    display: inline-block;
    padding: 6px 12px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 5px; /* Espaciado entre los botones */
}

.invoice-actions a:hover {
    background-color: #2980b9;
}

.invoice-actions span {
    color: #999;
}

.navigation-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Espaciado entre los botones y la tabla */
}

.navigation-btn:hover {
    background-color: #0056b3;
}
/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0deb4f;
    color: #b91c1c;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Estilos para el botón "Crear Factura" */
.create-btn {
    background-color: #08f32f;
}

/* Estilos para los botones de navegación */
.navigation-btn {
    background-color: #007bff;
}

.navigation-btn:hover {
    background-color: #0056b3;
}

